<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading">Update <%= @movie.title %></h1></div>
	<div class="col-md-6 text-center"><%= link_to image_tag('cancel.png', class: 'small-circle'), movies_path(session['user_id']) %></div>
</div>

<%= form_for @movie do |f| %>
	<div class="info-list">
		Title:  		 <%= f.text_field :title %><br>
		Year:        <%= f.number_field :year %><br>
		Director:    <%= f.text_field :director %><br>
		Writer:      <%= f.text_field :writer %><br>
		Rotten Tomatoes Score: <br>
		Format:      <%= f.radio_button :format, 'DVD' %><%= f.label :format, 'DVD', value: 'dvd' %>
								 <%= f.radio_button :format, 'Blu-Ray' %><%= f.label :format, 'Blu-Ray', value: 'bluray' %><br>
		Loaned Out?: <%= f.check_box :is_loaned %>
		<br><br>

		<%= f.submit 'Update!' %><br>
</div>
<% end %>