<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading text-capitalize">Update <%= @movie.title %></h1></div>
	<div class="col-md-6 text-center"><%= link_to image_tag('cancel.png', class: 'small-circle'), movies_path(session['user_id']) %></div>
</div>

<%= form_for @movie do |f| %>
	<div class="info-list">
		<%= f.text_field :title,    placeholder: 'Title' %><br>
		<%= f.number_field :year,   placeholder: 'Year' %><br>
		<%= f.text_field :director, placeholder: 'Director' %><br>
		<%= f.text_field :writer,   placeholder: 'Writer' %><br><br>
		<%= f.radio_button :format, 'DVD' %><%= f.label :format, 'DVD', value: 'dvd' %>
		<%= f.radio_button :format, 'Blu-Ray' %><%= f.label :format, 'Blu-Ray', value: 'bluray' %><br><br>

		Loaned Out?: <%= f.check_box :is_loaned %><br><br>

		<%= f.submit 'Add this movie!' %><br>
	</div>
<% end %>