<%= render 'users/nav' %>
<h1 class="heading">Update <%= @movie.title %></h1>

<%= form_for @movie do |f| %>
	Title:  		 <%= f.text_field :title %><br>
	Year:        <%= f.number_field :year %><br>
	Director:    <%= f.text_field :director %><br>
	Writer:      <%= f.text_field :writer %><br>
	Rotten Tomatoes Score: <br>
	Format:      <%= f.radio_button :format, 'DVD' %><%= f.label :format, 'DVD', value: 'dvd' %>
	<%= f.radio_button :format, 'Blu-Ray' %><%= f.label :format, 'Blu-Ray', value: 'bluray' %><br>
	Loaned Out?: <%= f.check_box :is_loaned %>
	<!-- Loaned Out?: <%#= f.radio_button :loaned_out, 'No' %><%#= f.label :loaned_out, 'No', value: 'No' %>
	<%#= f.radio_button :loaned_out, 'Yes' %><%#= f.label :loaned_out, 'Yes', value: 'Yes' %><br> -->
	<br><br>

	<%= f.submit 'Update!' %><br>
	<p class="ruby-link"><%= link_to 'Cancel', movies_path %></p>

<% end %>