<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading">Movies</h1></div>
	<div class="col-md-6 text-center"><%= link_to image_tag('add.png', class: 'small-circle'), new_movie_path %></div>
</div>

<div class="index-list">
	<table>
		<thead>
		<tr>
			<th>Title</th>
			<th>Year</th>
			<th>Director</th>
			<th>Writer</th>
			<th>Rotten Tomatoes</th>
			<th>Format</th>
			<th>Loaned Out</th>
			<th>Actions</th>
			<th colspan="8"></th>
		</tr>
		</thead>

		<tbody>
		<% @movies.sort_by { |m| m[:title].downcase }.each do |movie| %> <!-- no equal sign in the embedded ruby tag around a loop -->
			<% @title = "" %>
			<% @words = movie.title.split(/\W+/) %>
			<% @words.each do |w| %>
				<% if w == @words[0] %>
					<% @title = @title + w %>
				<% else %>
					<% @title = @title + '+' + w %>
				<% end %>
				<%#= @title %>
			<% end %>

			<tr>
				<td class="text-capitalize"><%= movie.title %></td>
				<td class="text-capitalize"><%= movie.year %></td>
				<td class="text-capitalize"><%= movie.director  %></td>
				<td class="text-capitalize"><%= movie.writer  %></td>
				<td class="text-capitalize">
					<%= HTTParty.get(@base_url+@title+@page_limit+@api_key)['movies'][0]['ratings']['critics_score'] %>%
				</td>
				<td class="text-capitalize"><%= movie.format  %></td>
				<td class="text-capitalize"><%= movie.is_loaned %></td>
				<td><%= link_to 'View', movie %>
					<%= link_to 'Delete', movie, method: :delete, data: {confirm: "Are you sure?"} %>
					<%= link_to 'Edit', edit_movie_path(movie) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>