<%= render 'users/nav' %>
<h1 class="heading">Movies</h1>

<table class="index-list">
	<thead>
	<tr>
		<th>Title</th>
		<th>Year</th>
		<th>Director</th>
		<th>Writer</th>
		<th>Rotten Tomatoes Score</th>
		<th>Format</th>
		<th>Loaned Out</th>
		<th>Actions</th>
		<th colspan="8"></th>
	</tr>
	</thead>

	<tbody>
	<% @movies.sort_by { |m| m[:title] }.each do |movie| %> <!-- no equal sign in the embedded ruby tag around a loop -->
		<tr>
			<td><%= movie.title %></td>
			<td><%= movie.year %></td>
			<td><%= movie.director  %></td>
			<td><%= movie.writer  %></td>
			<td><%= movie.format  %></td>
			<td><%= movie.is_loaned %></td>
			<td><%= link_to 'View', movie %>
				<%= link_to 'Delete', movie, method: :delete, data: {confirm: "Are you sure?"} %>
				<%= link_to 'Edit', edit_movie_path(movie) %></td>
		</tr>
	<% end %>
	</tbody>
</table>