<div class="row">
	<div class="col-md-12 text-center"><h1 class="heading">Hey, dum dum! Sign up!</h1></div>
	<!--<div class="col-md-6 text-center"></div>-->
</div>

<% if @user.errors.any? %>
	<div id="error-explanation">
		Try again, dum dum!<br>
		<% @user.errors.full_messages.each do |msg| %>
			<%= msg %><br>
		<% end %>
	</div>
<% end %>

<div class="ruby-form">
	<%= form_for @user do |f| %>
		<%= f.text_field :name,                      placeholder: 'Name' %><br>
		<%= f.text_field :email,                     placeholder: 'Email' %><br><br>
		<%= f.password_field :password,              placeholder: 'Password' %><br>
		<%= f.password_field :password_confirmation, placeholder: 'Confirm password' %><br>

		<%= f.submit %>
	<% end %>

	<%= link_to 'I\'m already a user!', new_sessions_path %>
</div>

