<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading">Update <%= @comic.title %></h1></div>
	<div class="col-md-6 text-center"><%= link_to image_tag('cancel.png', class: 'small-circle'), comics_path(session['user_id']) %></div>
</div>

<%= form_for @comic do |f| %>
	<div class="info-list">
		Title:  		 <%= f.text_field :title %><br>
		Number:      <%= f.number_field :number %><br>
		Publisher:   <%= f.text_field :publisher %><br>
		Location:    <%= f.text_field :comic_box %><br>
		Loaned Out?: <%= f.check_box :is_loaned %>
		<br><br>

		<%= f.submit 'Update!' %><br>
	</div>
<% end %>