<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading text-capitalize">Update <%= @tv_season.title %></h1></div>
	<div class="col-md-6 text-center"><%= link_to image_tag('cancel.png', class: 'small-circle'), tv_seasons_path(session['user_id']) %></div>
</div>

<%= form_for @tv_season do |f| %>
	<div class="info-list">
		<%= f.text_field :title,      placeholder: 'Title' %><br>
		<%= f.text_field :season,     placeholder: 'Season' %><br>
		<%= f.number_field :year,     placeholder: 'Year' %><br>
		<%= f.text_field :show_runner, placeholder: 'Show Runner' %><br><br>

		<%= f.radio_button :format, 'DVD' %><%= f.label :format, 'DVD', value: 'dvd' %>
		<%= f.radio_button :format, 'Blu-Ray' %><%= f.label :format, 'Blu-Ray', value: 'bluray' %><br><br>

		Loaned Out?: <%= f.check_box :is_loaned %><br><br>

		<%= f.submit 'Add this TV season!' %>
	</div>
<% end %>