<%= render 'users/nav' %>
<h1 class="heading">TV Seasons</h1>

<p class="ruby-link"><%= link_to 'Add a new TV Season', new_tv_season_path %></p>

<table class="index-list">
	<thead>
	<tr>
		<th>Title</th>
		<th>Season</th>
		<th>Year</th>
		<th>Show Runner</th>
		<th>Network</th>
		<th>Format</th>
		<th>Loaned Out</th>
		<th colspan="7"></th>
	</tr>
	</thead>

	<tbody>
	<p class="hide"><%= @tv_seasons = @tv_seasons.sort_by { |tv| tv[:title] } %></p>
	<% @tv_seasons.each do |tv| %> <!-- no equal sign in the embedded ruby tag around a loop -->
		<tr>
			<td><%= tv.title %></td>
			<td><%= tv.season %></td>
			<td><%= tv.year  %></td>
			<td><%= tv.show_runner  %></td>
			<td><%= tv.network  %></td>
			<td><%= tv.format  %></td>
			<td><%= tv.is_loaned %></td>
			<td><%= link_to "Delete this tv season!", @tv_season, method: :delete, data: {confirm: "Are you sure?"} %></td>
		</tr>
	<% end %>
	</tbody>
</table>
