<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading">TV Seasons</h1></div>
	<div class="col-md-6 text-center"><%= link_to image_tag('add.png', class: 'small-circle'), new_tv_season_path %></div>
</div>

<div class="index-list">
	<table>
		<thead>
		<tr>
			<th>Title</th>
			<th>Season</th>
			<th>Year</th>
			<th>Show Runner</th>
			<th>Format</th>
			<th>Loaned Out</th>
			<th>Actions</th>
			<th colspan="8"></th>
		</tr>
		</thead>

		<tbody>
		<% @tv_seasons.sort_by { |t| t[:title].downcase }.each do |tv| %>
			<tr>
				<td class="text-capitalize">     <%= tv.title %></td>
				<td class="text-capitalize">     <%= tv.season %></td>
				<td class="text-capitalize">     <%= tv.year %></td>
				<td class="text-capitalize">     <%= tv.show_runner %></td>
				<td class="text-capitalize">     <%= tv.format %></td>
				<td class="text-capitalize">     <%= tv.is_loaned %></td>
				<td><%= link_to 'View', tv %>
					  <%= link_to 'Delete', tv, method: :delete, data: {confirm: "Are you sure?"} %>
					  <%= link_to 'Edit', edit_tv_season_path(tv) %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>