<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading text-capitalize"><%= @tv_season.title %></h1></div>
	<div class="col-md-6 text-center">
		<%= link_to image_tag('delete.png', class: 'small-circle'), @tv_season, method: :delete, data: {confirm: "Are you sure?"} %>
		<%= link_to image_tag('edit.png', class: 'small-circle'), edit_tv_season_path(@tv_season) %>
		<%= link_to image_tag('cancel.png', class: 'small-circle'), tv_seasons_path(session['user_id']) %>
	</div>
</div>

<div class="info-list">
	<p class="text-capitalize">Season:      <%= @tv_season.season %></p>
	<p class="text-capitalize">Year:        <%= @tv_season.year %></p>
	<p class="text-capitalize">Show Runner: <%= @tv_season.show_runner %></p>
	<!--<p class="text-capitalize">Network:     <%#= @tv_season.network %></p>-->
	<p class="text-capitalize">Format:      <%= @tv_season.format %></p>
	<p class="text-capitalize">Loaned Out?: <%= @tv_season.is_loaned %></p>
</div>