<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading text-capitalize">Update <%= @book.title %></h1></div>
	<div class="col-md-6 text-center"><%= link_to image_tag('cancel.png', class: 'small-circle'), books_path(session['user_id']) %></div>
</div>

<%= form_for @book do |f| %>
	<div class="info-list">
		<%= f.text_field :title,        placeholder: 'Title' %><br>
		<%= f.text_field :author_first, placeholder: 'Author first name' %>
		<%= f.text_field :author_last,  placeholder: 'last name' %><br>
		<%= f.number_field :year,       placeholder: 'Year' %><br><br>

		Loaned Out?: <%= f.check_box :is_loaned %><br><br>

		<%= f.submit 'Update!' %><br>
	</div>
<% end %>