<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading">Add a book!</h1></div>
	<div class="col-md-6 text-center"><%= link_to image_tag('cancel.png', class: 'small-circle'), books_path(session['user_id']) %></div>
</div>

<%= form_for @book do |f| %>
	<div class="info-list">
		User:        <%= f.collection_select :user_id, User.all, :id, :name, include_blank: '' %><br>
		Title:  		 <%= f.text_field :title %><br>
		Author:      <%= f.text_field :author_first %>
		             <%= f.text_field :author_last %><br>
		Year:        <%= f.number_field :year %><br>
		Loaned Out?: <%= f.check_box :is_loaned %>
		<%#= f.radio_button :loaned_out, 'No' %><%#= f.label :loaned_out, 'No', value: 'No' %>
		<%#= f.radio_button :loaned_out, 'Yes' %><%#= f.label :loaned_out, 'Yes', value: 'Yes' %>
		<br><br>

		<%= f.submit 'Add this book!' %><br>
	</div>
<% end %>