<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading"><%= @book.title %></h1></div>
	<div class="col-md-6 text-center">
		<%= link_to image_tag('delete.png', class: 'small-circle'), @book, method: :delete, data: {confirm: "Are you sure?"} %>
		<%= link_to image_tag('edit.png', class: 'small-circle'), edit_book_path(@book) %>
		<%= link_to image_tag('cancel.png', class: 'small-circle'), books_path(session['user_id']) %>
	</div>
</div>

<div class="list-of-stuff">
	<p class="text-capitalize">Author: <%= @book.author_first %> <%= @book.author_last %></p>
	<p class="text-capitalize">Year:   <%= @book.year %></p>
	<p class="text-capitalize">Loaned Out?: <%= @book.is_loaned %></p>
</div>