<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading text-capitalize">Update <%= @graphic_novel.title %></h1></div>
	<div class="col-md-6 text-center"><%= link_to image_tag('cancel.png', class: 'small-circle'), graphic_novels_path(session['user_id']) %></div>
</div>

<%= form_for @graphic_novel do |f| %>
	<div class="info-list">
		<%= f.text_field :title,     placeholder: 'Title' %><br>
		<%= f.text_field :author,    placeholder: 'Author' %><br>
		<%= f.number_field :number,  placeholder: 'Number' %><br>
		<%= f.text_field :publisher, placeholder: 'Publisher' %><br><br>

		Loaned Out?: <%= f.check_box :is_loaned %><br><br>

		<%= f.submit 'Update!' %><br>
	</div>
<% end %>