<%= render 'users/nav' %>

<div class="row">
	<div class="col-md-6 text-center"><h1 class="heading">Add a graphic novel!</h1></div>
	<div class="col-md-6 text-center"><%= link_to image_tag('cancel.png', class: 'small-circle'), graphic_novels_path(session['user_id'])	%></div>
</div>

<%= form_for @graphic_novel do |f| %>
	<div class="info-list">
		User:        <%= f.collection_select :user_id, User.all, :id, :name, include_blank: '' %><br>
		Title:  		 <%= f.text_field :title %><br>
		Author:      <%= f.text_field :author %><br>
		Number:      <%= f.number_field :number %><br>
		Publisher:   <%= f.text_field :publisher %><br>
		Loaned Out?: <%= f.check_box :is_loaned %>
		<br><br>

		<%= f.submit 'Add this graphic novel!' %><br>
	</div>
<% end %>